

{% block main_content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

        <style type="text/css">
            body {
                
                font-size: 13px;
            
            }
            .header {
                font-size: 25px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
             
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }

            tr:first-child{
                outline: thin solid transparent;
                height: 40px;
              }
            
              td{
                text-align: center !important;
              }
            img{
                width: 50px  !important;
                height: 50px !important;
            }
            
           
        </style>
        
        <div class='wrapper'>
            <div class='header'>
                
                <p class='title btn btn-info' >Students List </p>
                
            
            </div>
            <div class='details'>
              Date : {{myDate}}
                <hr class='hrItem' />
            </div>
        </div>
        <br>

        <div class="container">
            <div class="col-md-12">
        
                <table class="table table-hover text-nowrap" border="1">
                    <thead>
                        <tr>
                        <th>Username</th>
                        <th>Profile Pic</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Date Joined</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                        <td>{{ student.admin.username }}</td>
                         
                        <td> <img src="{{student.profile_pic }}"/> </td>
                       
                        <td>{{ student.admin.email }}</td>
                        <td>{{ student.course_id.course_name }}</td>
                        <td class="px-3 py-3">
                            {% if student.status == "active" %}
                            <span class="badge bg-primary rounded-pill px-3 py-1">Active</span> 
                            {% else %}
                            <span class="badge bg-secondary rounded-pill px-3 py-1">Inactive</span> 
                            {% endif %}
                        </td>
                        <td>{{ student.admin.date_joined }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>

            
              
              
        
    </div>
</div> 
 

{% endblock main_content %} 